@font-face {
	font-family: 'Stroke-Gap-Icons';
	src: url('fonts/Stroke-Gap-Icons.eot');
}


header {display: block;}
footer {background-color: darkslategray;}

.main-section {display: block;}

.main_header_area,
.main_slider_area,
.book_table_area,
.introduction_area,
.explor_room_area,
.our_service_area,
.our_resort_gallery_area,
.client_area,
.latest_news_area,
.video_area,
.fun_fact_area,
.footer_area
{
	display: block;
}

.icon {
	font-family: 'Stroke-Gap-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slider-item {
	height: 210px;
	/* border: solid 1px #4488CC; */
	border-radius: 2px;
	background-size: cover;
}

.resort_gallery .slider-item {margin: 4px 16px;}

@media screen and (max-width: 540px) {
  .slider-item {height: 100px;}
}

.slider-item a {
	color: transparent;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.slider-item.g-item-1 { background-image: url('./../img/booking/01.jpg'); }
.slider-item.g-item-2 { background-image: url('./../img/booking/02.jpg'); }
.slider-item.g-item-3 { background-image: url('./../img/booking/03.jpg'); }
.slider-item.g-item-4 { background-image: url('./../img/booking/04.jpg'); }
.slider-item.g-item-5 { background-image: url('./../img/booking/05.jpg'); }
.slider-item.g-item-6 { background-image: url('./../img/booking/06.jpg'); }

.map-responsive {
	display: block;
    /* overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0; */
}
.map-responsive iframe{
    /* left:0;
    top:0;
    height:100%;
	position:absolute;	 */
    width:100%;
}